.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


@media (max-width: 900px) {

    .containerMalla {
        grid-template-columns: repeat(11, 130px);
        overflow-x: auto;
    }

}